*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  #try-button{
    padding:10px;
    border:none;
    background-color: purple;
    background-color: #276272;
    color:white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
    font-size: larger;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;
    width:12vw;
    position: absolute;
    bottom: 15px;
    margin-right: 200px;
    margin-bottom: 19px;
    height: 75px;
  } 
  #try-button:hover{
    box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
    background-color: rgb(22, 174, 5); 
    transform: scale(1.1);  
  }
  .show-score{
    position: absolute;
    top: 10px;
    font-size: medium;
    text-align: center;  
    margin-top: -100px;
    /* margin:8px; */
    box-shadow: 0px 0px 10px 1px #a2a3a3;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom:20px;
    width: 1500px;
  }
  #extra-button{
    padding:10px;
    border:none;
    background-color: purple;
    background-color: #276272;
    color:white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
    font-size: larger;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;
    width:12vw;
    position: absolute;
    bottom: 15px;
    margin-left: 200px;
    margin-bottom: 19px;

  }
  #extra-button:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
    background-color: rgb(22, 174, 5);   
  }