/* AgentProfile.css */

.agent-profile09 {
  width: 60vw;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* background: rgb(111, 122, 40); */
  background-image: url('https://i.pinimg.com/474x/98/7c/26/987c26f48039e7572dd397e965ebaf1d.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  margin-top: 4vh;
}

.aphead09 {
  font-size: 24px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: black;
  font-weight: bold;
}
.hidden09{
  display: none;
}
.topbar367{
  width: 70vw;
  margin-left: -10vw;
  margin-top: -10vh!important;

}
.agency-details09 {
  display: flex;
  align-items: center;
  padding: 20px;
}

.image09 img {
  width: 25vw;
  height: 60vh;
  border-radius: 6rem;
}

.info09 {
  flex: 1;
  padding-left:4vw;
  color: black;
}

.aphead45 {
  font-size: 20px;
  margin: 0;
  color: black;
  font-weight: 600;
}

.apblock09 {
  margin: 10px 0;
  font-size: 16px;
  color: black;
}
@media (max-width: 767px) {
  .agent-profile09 {
      max-width: 100%;
      padding: 10px;
  }

  .aphead09 {
      font-size: 20px;
  }

  .agency-details09 {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
  }

  .image09 {
      width: 50vw !important;
      height: 50vh !important;
      border-radius: 8rem;
  }
  .image099 {
    width: 50vw !important;
    height: 50vh !important;
    border-radius: 8rem;
}

  .info09 {
      padding-left: 0;
  }

  .aphead45 {
      font-size: 18px;
  }
}

/* Responsive Styles for Desktop */
@media (min-width: 768px) {
  /* No additional styles needed for desktop */
}
/* Add more CSS styles as needed to customize your component's appearance */
