.agencysideBar {
  display: flex;
  background: hsl(0, 0%, 100%);
  flex-direction: column;
  background: hsl(246, 63%, 13%);
  /* padding: 20px; */
  box-shadow: 1px 0px 4px rgb(190, 190, 190);
  /* max-width: 18%; */
  height: 100%;
  width: 15vw;
  gap: 4rem;
 margin-left: -3vw;
  /* overflow: auto; */
 
}
.title01{
color:hsl(0, 0%, 100%);
margin-left: 0px;
font-size: 20px !important;
}
.agencylogoDiv{
      padding: .2rem .2rem 0; 
      cursor: pointer;
      font-size: 9px;
      display: flex;
      flex-direction: column;
}
.img-responsive09{
          max-width: 100px;
          margin-right: .2rem;
          /* background: white; */
          border-radius: 2px;
          padding: .2rem;
         
      }

.divTitle01{
font-size:  1rem;
color:hsl(0, 0%, 100%);
/* padding: 0 1.5rem 1.5rem; */
margin-top: -5vh !important;
}
.listItem01{
padding: .2rem 1.5rem;
width: 100%;
position: relative;
list-style: none;
&::before{
  position: absolute;
  content: '';
  height: 0%;
  width: 3px;
  bottom: 3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #efeff6;
  
}
.smallText01{
color: white;
font-size: 2vh;
}
.smallText01:hover{
color:rgb(171, 169, 169);
transition: 0;
}
.icon01{
color: white;
margin-right: .5rem;
}
.menuDiv01{
padding-top: -10vh!important;
}
.menuLink01{
color: hsl(0, 0%, 100%);

font-weight: 500;
transition: 0;
.icon{
  margin-right: .5rem;
}
}
&:hover .menuLink01{
/* color: var(--HoverColor); */
color:rgb(200, 198, 198);
transition: 0;
}

&:hover::before{
height: 100%;
transition: .3s ease;
}}
.notification01 {
background-color:rgb(43, 158, 93) ;
color: white;
margin-top: 20px;
text-decoration: none;
padding: 5px 10px;
position: relative;
display: inline-block;
border-radius: 2px;
}

.notification01:hover {
background: red;
}

.notification01 .badge01 {
position: absolute;
top: -10px;
right: -10px;
padding: 3px 8px;
border-radius: 50%;
background: red;
color: white;
}
.notification02 {
background-color: rgb(43, 158, 93);
color: white;
margin-top: 20px;
text-decoration: none;
padding: 5px 10px;
position: relative;
display: inline-block;
border-radius: 2px;
}

.notification02:hover {
background: red;
}

.popup01 {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
display: flex;
justify-content: center;
align-items: center;
z-index: 9999; /* Adjust as needed */
}

.popup-content01 {
background: hsl(0, 0%, 100%);
padding: 20px;
border-radius: 4px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
max-width: 400px;
width: 100%;
text-align: center;
}

.popup01 h3 {
font-size: 1rem;
color:  hsl(0, 0%, 18%);
margin-bottom: 20px;
}

/* File Input */
input[type="file"] {
margin-bottom: 20px;
}

/* Buttons */
.popup-actions01 {
display: flex;
justify-content: center;
gap: 10px;
}

.popup-actions01 button {
padding: 10px 20px;
border: none;
cursor: pointer;
border-radius: 4px;
font-size: 1rem;
}
.send01{
background-color: blue;
color:  hsl(0, 0%, 100%);
}
.cancel01{
background-color: red;
color:  hsl(0, 0%, 100%);
}
@media (max-width: 767px) {
.agencysideBar {
    max-width: 100%;
    padding: 10px;
}

.listItem01::before {
    width: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
}
.overlay012{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 9999;
background: rgba(0, 0, 0, 0.6); 
}
.modalContainer012{
background-color: rgb(255, 255, 255);
max-width: 50vwpx;
height: 70vhpx;

position: fixed;
top: 350px;
left: 900px;
transform: translate(-50%,-50%);
display: flex;
border-radius: 10px;

box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.detectimage012{
width: 200px;
height: 50vh;
object-fit: cover;


}
.modalRight012{
width: 250px;
}
.closebtn012{
position: fixed;
top: 8px;
right: 8px;
font-weight: bold;
cursor: pointer;
}
.btnContainer012{
margin-top: 70px;
display: flex;
flex-direction: column;
padding: 1px 2px;
margin-right: 5px;
margin-left: 5px;
}
.list012{
margin-bottom: 10px;
color: #ffffff;
background-color: #231343;
}
.list012:hover{
color: #fcfcfc;
background-color: #5412e2;
}
.detect012{
margin-top: 10px;
color: #ffffff;
background-color: #07623e;
margin-bottom: 10px;
}
.detect012:hover{
background-color: #00b66d;
}
.register012{
margin-top: 10px;
color: #ffffff;
background-color: #5c2300;
margin-bottom: 10px;

}
.register013{
  margin-top: 10px;
  color: #ffffff;
  background-color: #413f0a;
  margin-bottom: 10px;
  
  }
.register012:hover{
background-color: #cc5206;
}
.register013:hover{
  background-color: #b79602;
  }
/* Responsive Styles for Desktop */
@media (min-width: 768px) {
.top26 {
    background: hsl(246, 63%, 13%);
}
}