/* img{
    width: 170px;
    height: 100px;
} */
.headers{
    display: flex;
    justify-content: left;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 1px;
}
.rows{
    display: flex;
    width: 100px;
}
.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.tag10s{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}
.brt-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
    padding-left: 30px;
    padding-top: 50px;
}
.swach-bharats{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 380px;
    
}
.akams{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.G20s{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.Yogas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.navBars{
    background-color: rgb(2, 2, 77);
    height: max-content;
    padding: 1px;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgb(209, 209, 209);
    transition: .5s ease;
    z-index: 1000;

    .navLists{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: auto;
        
        .navItem1{
            padding: 15px;
            justify-content: center;
        }
        .navItem2{
            padding: 15px;
            justify-content: center;
        }
        .navItem3{
            padding: 15px;
            justify-content: center;
        }
        .navItem4{
            padding: 15px;
            justify-content: center;
        }

        .navLink{
            color: aliceblue;
            font-size: .9rem;
            font-weight: 600;
            &:hover{
               color: crimson ; 
            }
        }

        .headerBtns1{
            display: flex;
            flex-direction: row;
            padding-left: 23px;
            justify-content: center;
            padding-bottom: 10px;
            .btn{
                margin-top: 1rem;

                a{
                    font-weight: 600;

                    &:hover{
                        color: aqua;
                    }
                }
            }

            .loginBtn1{
                background-color: darkcyan;
                border: 1px solid var(--blackColor);
                

                &:hover{
                    background: var(--HoverColor);
                    color: white;
                    transform: scale(1.2);
                }
            }
        }
        .headerBtns2{
            display: flex;
            flex-direction: row;
            padding-left: 30px;
            justify-content: center;
            padding-bottom: 10px;
            .btn{
                    margin-top: 1rem;
    
                    a{
                        font-weight: 600;
    
                        &:hover{
                            color: aqua;
                        }
                    }
                }
            .loginBtn2{
                background-color: rgb(229, 75, 20);
                border: 1px solid var(--blackColor);

                &:hover{
                    background-color: rgb(3, 111, 16);
                    color: white;
                    transform: scale(1.2);
                }
            }
        }
        .headerBtns3{
            display: flex;
            flex-direction: row;
            /* padding-left: 30px; */
            margin-left: 45vw;
            justify-content: center;
            padding-bottom: 10px;
            .btn{
                    margin-top: 1rem;
    
                    a{
                        font-weight: 600;
    
                        &:hover{
                            color: aqua;
                        }
                    }
                }
            .loginBtn3{
                background-color: rgb(229, 75, 20);
                border: 1px solid var(--blackColor);

                &:hover{
                    background-color: rgb(3, 111, 16);
                    color: white;
                    transform: scale(1.2);
                }
            }
        }
    }
}
.tags121{
    width: 30vw !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    margin-left: -5vw;
}
.img-responsive2{
    margin-left: -17vw;
}

.img-responsive3{
    margin-left: -5vw;
}
.img-responsive4{
    margin-left: -0vw;
}
/* .img-responsive5{
    margin-left: -2vw;
} */
.img-responsive6{
    margin-top: -5vh;
   
}
